
@tailwind base;
@tailwind components;
@tailwind utilities;

  .container-register {
    /* Tus estilos aquí */
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vh;
    background-color: white;
    margin-left: 30%;
    border-radius: 5px;
  }
  
  label {
    min-width: 100px;
    display: inline-block;
  
      
      
  }
  
  
