.product-item-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    width: 270px;
    height: 370px;
    text-align: center;
    background-color: white;
}

.carousel-container {
    margin-left: 120px;
    width: 1300px;    
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.product-item {
    width: 300px; 
    margin: auto; 
    border-radius: 5px;

}

.textSer{
margin-top: 12px;
}

::ng-deep .p-rating, 
::ng-deep .p-rating-icon,
::ng-deep .p-rating-icon-on {
    color: yellow;
  }
  

  .textSer{
    display: flex; 
    align-items: center; 
    justify-content: space-between;

  }

  .textInf{
    font-size: 1.0em;
    margin-right: 17px;
  }