


.container{
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
}

@media (min-width: 360px) and (max-width: 500px) {
    .container{
        width: 90%;
        height: 150px;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
       
    }

    

}