<div class="carousel-container">
    <p-carousel [value]="services" [numVisible]="4" [showIndicators]="false" [numScroll]="1"
        [responsiveOptions]="responsiveOptions" [circular]="true">
        <ng-template pTemplate="header">
            <div class="header">
                <p style="color: #5e5f63;font-weight: 700;"> List Services </p>
                <form [formGroup]="formGroup">
                    <p-cascadeSelect class="cascade" formControlName="selectedCategory" [options]="categories"
                    optionLabel="name" optionGroupLabel="name" [optionGroupChildren]="['subCategories']"
                    [style]="{ minWidth: '10rem', width: '100px', height: '20px',}" placeholder="Categories"></p-cascadeSelect>

                </form>

            </div>
        </ng-template>
        <ng-template let-services let-i="index" pTemplate="item">
            <div class="product-item">
                <div class="product-item-content">
                    <div class="mb-3">
                        <img [src]="services.image" [alt]="services.name" class="product-image" />
                    </div>
                    <div>
                        <h4 class="mb-1 textSer">{{ services.name }}</h4>
                        <h6 class="mt-0 mb-7 textSer"> {{ services.description }}</h6>

                        <div class="textSer">
                            <p-rating class="textInf" [cancel]="false"></p-rating>
                            <h6 class="mt-0 mb-7 textInf "> $ {{ services.price }}</h6>
                        </div>

                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>