

<section class="bg-white dark:bg-gray-900" style="background-color: #f4f5f9">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">

        <div class="flex md:grid md:grid-cols-3 gap-8">
            <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">

                <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Rretail </h2>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">
                    Rretail es una plataforma innovadora que destaca por ofrecer servicios y productos personalizables. Los usuarios pueden adaptar los productos a sus preferencias, haciendo de esta plataforma una opción atractiva para aquellos que buscan una experiencia de compra única.</p>
                <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">Read more
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
                </a>
            </div>
                        <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">

                <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Rretail services</h2>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4"> ofrecemos diversos servicios en un solo lugar para facilitar la vida de los usuarios. Su objetivo es permitir a los usuarios encontrar y contratar cualquier servicio que necesiten de manera sencilla y rápida.

                </p>
                <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">Read more
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
                </a>
            </div>
            <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">

                <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Rretail Products</h2>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">Rretail ofrece una amplia gama de productos y se destaca por su capacidad única de personalización, permitiendo a los usuarios ajustar productos según sus preferencias individuales para una experiencia de compra altamente personalizada.</p>
                <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">Read more
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
    